extends layout

block content
  h1 #{title}
    nav
      a(href="/") Home
      a(href="/categories") Back


  if errors
    ul.error
      for error in errors
        li!= error.msg

  form(method="post", action="")
    div.input
      - categoryName = undefined===category ? '' : category.name
      label(for="name") Category Name
      input(type="text", name="name", id="name", placeholder="Category Name", maxlength=60, required=true, value=categoryName)

    div.input
      - categoryDescription = undefined===category ? '' : category.description
      label(for="description") Description
      input(type="text", name="description", id="description", placeholder="Category Description", maxlength=60, required=true, value=categoryDescription)

    div.input
      button Add Category
