extends layout

block content
  h1= title
    nav
      a(href="/categories") Back

  if message
    div.error= message

  p #{category.name}
  p #{category.description}
  a(href=category.urlDelete) Delete