extends layout

block content
  h1= title
    nav
      a(href="/") Home
      a(href="/items") Back

  h6 TODO: Make this a card
  p #{item.name}
  p #{item.description}
  p #{item.category}
  p $#{item.price}
  p Quantity: #{item.available}

  a(href=item.urlEdit) Edit
  a(href=item.urlDelete) Delete