extends layout

block content
  h1= title
    nav
      a.button(href="/") Home
      a.button(href="/items/new") New

  each item in items
    div.items
      div.item 
        a(href=item.url) #{item.name}
      div.item #{item.description}
      div.item #{item.category}
      div.item #{item.price}
      div.item Quantity: #{item.available}

      a.button(href=item.urlDelete) Delete